[2014-07-15 20:05] chmontgomery opened #1 "bundle.result.json has incorrect relative path"
paths do not have `.` like they're supposed to

[code]

[2014-07-15 20:07] #1 closed, assigned to nobody

[2014-07-25 04:19] scanham opened #3 "bundle.result.json paths are file names only"
The html output in bundle.results.json is not usable as is due to the paths not containing a folder name. I'd have to parse/modify the html snippets if I want to use them from the results file.

For example, my main.css file is available at **/public/main.css** but the bundle result entry for that is:
<link href='**main.css**' media='screen' rel='stylesheet' type='text/css'/>

There should be a wa

[2014-07-25 17:37] #3 closed, assigned to nobody

[2014-07-29 20:10] chmontgomery opened #4 "version bundles to break user's asset cache"
use something like gulp-rev to accomplish this: https://github.com/sindresorhus/gulp-rev

[2014-07-29 22:45] #4 closed, assigned to chmontgomery

[2014-08-04 17:49] chmontgomery opened #7 "if minSrc is defined never uglify"
For example, given the following bundle config

[code]

`jquery` should never be uglified even when `uglify` is true because a `minSrc` is defined. The existence of a `minSrc` should indicate no uglifying is necessary. Doing this today could unintentionally cause someone to uglify a file they shouldn't

[2014-08-04 17:56] chmontgomery opened #8 "bundle off targets, not environments"
So that bundle results are more flexible, we should bundle based off targets, e.g. "debug", "release", etc instead of environments. This way, an app can include the correct set of files based off a runtime configuration. For example, if the app is running in production but you specify a debug flag, we want to return the "debug" src files.
This will require a new environment variable to key off of

[2014-08-04 18:00] chmontgomery opened #9 "custom bundle result types"
Currently, only html is a valid bundle result output. Support the ability to provide custom functions for generating the `bundle.result.json`. The new api for `bundle.result` should look something like:

[code]

[2014-08-04 18:06] chmontgomery opened #10 "minify css"
Minify css the same way we currently uglify js. Requires updates to gulp-minify-css to support source-maps: https://github.com/jonathanepollack/gulp-minify-css/issues/29

[2014-08-04 18:12] chmontgomery opened #11 "support CDNs"
detect cdn urls and, if present, don't bundle anything but instead add it to the `bundle.results.json` as a scripts/style include from the given url

[2014-08-04 18:41] chmontgomery opened #12 "custom template for wrapping scripts/styles"
e.g. allow ability to wrap a dep with a require.js `define` statement. The `bundle.config.js` could look something like this:

[code]

[2014-08-04 18:48] chmontgomery opened #13 "log error when no files found in stream"
When no files found in a given bundle stream, i.e. no files match the src glob(s) defined, log an error so that the user doesn't accidentally create a mis-configured bundle config.
NOTE: when CDN support is added, it may be valid to have a bundle with only a cdn url in it, meaning no files will be in the stream for that given bundle. Make sure this is handled appropriately by not logging an error

[2014-08-04 19:02] chmontgomery opened #14 "support adding transformations to the scripts or styles streams"
As a developer I want to add custom transformations to a specific stream type. For example, I might want to add coffeescript compilation to the script bundle stream or scss compilation to the style bundle stream.

Question: how would you like to define this? One idea is to have an array of transformations for the different bundle types, e.g.:

[code]

Note: to accomplish this by calling the functi

[2014-08-04 19:29] chmontgomery opened #15 "Documentation on using alongside browserify"
Read up on the best way to do this. See these threads:
- Make a browserify recipe: https://github.com/gulpjs/gulp/issues/369
- gulp-browserify blacklisted: https://github.com/gulpjs/plugins/issues/47
- http://stackoverflow.com/questions/22330103/how-to-include-node-modules-in-a-separate-browserify-vendor-bundle

I think the best way would be to use browserify in replacement of `gulp.src` and use [

[2014-08-04 19:35] chmontgomery opened #16 "Flag for logging: verbose vs quiet mode"

[2014-08-04 19:35] chmontgomery opened #17 "Option for gziping bundles"

[2014-08-04 19:37] chmontgomery opened #18 "display warning when a bundle are over the recommended size"
TODO: determine what the recommended size is given browser asset downloading constraints

[2014-08-06 14:14] #7 closed, assigned to chmontgomery

[2014-08-06 16:00] chmontgomery opened #21 "add cli so bundling can be run without gulp if desired"

[2014-08-06 16:12] chmontgomery opened #22 "allow different pathPrefix per result target"
e.g. `bundle.result` should accept an object like this:

[code]

[2014-08-07 15:29] #10 closed, assigned to chmontgomery

[2014-08-19 21:57] #14 closed, assigned to nobody

[2014-08-25 21:30] chmontgomery opened #25 "consistent concat order"
Right now, custom transforms can cause the files in stream to stream through in a seaminly random order. Perhaps use something like gulp-order to make this deterministic: https://www.npmjs.org/package/gulp-order

[2014-08-26 03:55] #9 closed, assigned to nobody

[2014-08-26 13:47] chmontgomery opened #26 "smart watch"
As a developer, I want to make changes to a file and have them built into its associated bundle automatically and _as quickly as possible_. This means, when I change one file I only want one bundle built: the one that contains my new change. All other bundles should be left as-is.

To accomplish this, first the ability to run bundling against one named bundle must be added. Then, `gulp.watch` can

[2014-08-29 17:13] chmontgomery opened #27 "optionally disable sourcemaps"
Sometimes the sourcemaps are unnecessary or could cause potential problems. Add a flag to optionally disable them.

[2014-09-19 13:27] #15 closed, assigned to nobody

[2014-09-23 15:17] #26 closed, assigned to chmontgomery

[2014-09-23 20:01] chmontgomery opened #30 "different watch vs bundle targets"
I want to define scripts or styles in such a way that what is bundled can be different than what is watched. For example, I may want the bundler to only build a single less file that acts as the entry point for all my other less files. However, I still want the watch feature to trigger for changes to any of my less files.

[2014-09-23 20:29] #30 closed, assigned to chmontgomery

[2014-09-23 20:37] chmontgomery opened #31 "handle watch stream errors gracefully"
Currently, when running `bundle.watch` and a file fails to compile (coffee, less, sass, etc), the stream stops with an error. The `watch` task should instead continue to still run, not bundle the file and log the error.

[2014-09-25 20:53] chmontgomery opened #32 "when bundleAllEnvironments: true, srcMin is always true"
`srcMin` should only be true for the given environment, not all

[2014-09-26 01:47] #32 closed, assigned to nobody

[2014-09-29 14:08] #16 closed, assigned to chmontgomery

[2014-09-29 18:42] chmontgomery opened #33 "allow watching of copy files"
Right now `.watch` only watches for changes to bundles. Allow watching of copy files as well.

[2014-09-29 19:58] #33 closed, assigned to chmontgomery

[2014-10-21 09:50] platosha opened #34 "minCss or minCSS"
This is mostly documentation and examples issue.

Several examples mention "minCss" option, but there's also "minCSS" variant in the others. Only the second variant worked for me.

I think "minCss" should be replaced by "minCSS" in all examples, otherwise this non-working option may confuse users.

[2014-10-21 15:59] #34 closed, assigned to chmontgomery

[2014-11-27 12:54] kleinMaggus opened #35 "JsHint Handling"
Hi,

could you suggest a way how to handle jshint errors?
Because I want in development to catch the errors and just log them (with plumber) and in production mode the complete process should fail.
But when I run the task, it doesn't matter which mode, the task will always fail, if there is an error.

Here the two essential tasks:

[code]

and:

[code]

Thank you!

[2014-12-05 13:53] roberto opened #36 "Custom result file name"
It would be better if we could customize result files names instead of hardcoding `'bundle.result'`.  Even though `'bundle.result'` could be the default value, so we do not break everything.

I'm thinking of something like:

[code]

[2014-12-05 14:50] #36 closed, assigned to nobody

[2014-12-05 15:44] #35 closed, assigned to nobody

[2014-12-05 17:30] roberto opened #38 "Fix incremental custom result file name"
Custom result file name is not working when using `incremental` method (so it also doesn't work with `watch`).

[2014-12-05 19:21] #38 closed, assigned to nobody

[2015-01-09 19:09] clocked0ne opened #40 "JS files with comment blocks are ignored/added to sourcemap instead of bundle"
For example, [jQuery Cookie](http://plugins.jquery.com/cookie/) always has the author comment block at the top of the file, even in the minified version.

When this is passed to the bundler it seems to misinterpret this and output the file as a source file instead in the source mapping:
[code]
and further down:
[code]

My temporary solution is to make a copy of the file and remove the comments, wh

[2015-01-09 19:14] clocked0ne commented on #40
and once comments are removed:
[code]
[code]

[2015-01-13 18:26] RyanS commented on #25
This would def be good to have. Was trying this out and included gulp-hogan to precompile mustache templates. No matter what I did the compiled templates were at the bottom of the file which was problematic

[2015-01-23 15:01] chmontgomery commented on #40
If you have time, would love a PR!

[2015-01-23 17:26] clocked0ne commented on #40
I don't at the moment unfortunately, though I would guess that the issue is with the uglify component handling these comment blocks badly.

[2015-02-04 14:38] chmontgomery opened #41 "custom transform stream errors lost"
When an error is throw during a custom transform the error is swallowed and never printed, making it unclear why the stream failed to finish. For example, if a less file fails to compile, the stream will just stop suddenly and no error message is show. Instead I expect a helpful message to be printed to the console that helps me debug errors in my custom transforms.

[2015-02-04 14:46] #41 closed

[2015-02-04 14:55] chmontgomery opened #43 "Wrong exit code when error thrown during custom transform"
When there is an error during a custom transform, the stream stops and prints an error properly but the exit code is wrong. The exit code is `0` but I expect it to be `1`.

For example, if using `require('gulp-bundle-assets').transformHelper.less()` and there is a compile error inside a `.less` file, the stream will stop and print the error, but the node process will simply exit with the wrong cod

[2015-02-08 15:03] #27 closed

[2015-02-08 15:05] chmontgomery commented on #27
released in `v2.18.0`

[2015-03-01 23:08] #43 closed

[2015-03-01 23:12] chmontgomery commented on #31
This should be handled properly now as part of PR #47. Please pull down `v2.19.0` and let me know how it works for you!

[2015-03-01 23:12] #31 closed

[2015-03-09 19:46] apobbati opened #48 "Transform copying static assets"
Need to have an ability to transform the assets specified in the copy object. For example, I have a set of images that I'd like to be able to optimize based on file extension, file path, etc. Currently, there's no way to do it.

[2015-03-09 19:54] chmontgomery commented on #48
:+1: love the idea! If you have time I'd accept a PR

[2015-03-16 09:38] mistergraphx opened #49 "How to specify a path for each type of bundled assets ?"
Hi,

Is it possible to specify a path for each type of bundled assets ?

For example css goes in `/public/asset/css` and js in `/public/asset/js`

actually all my bundled assets goes in the same directory

thanks for your answer.

[2015-03-16 10:05] mistergraphx commented on #49
Hum sorry, it's a stupid question ;-)

i've just to specify a path and a fine name in my bundle.config like this:

[code]

[2015-03-16 10:08] #49 closed

[2015-03-16 13:23] chmontgomery commented on #49
:+1: I love questions that answer themselves ;)

[2015-03-18 19:51] smschrader opened #50 "minCSS Option Throws Error in 2.17.2 and Up"
Error -
[code]

is thrown when option is enabled for Less files. Issues goes away with earlier releases.
Seems to be an issue with the clean-css module.

Might be related to Issue https://github.com/jonathanepollack/gulp-minify-css/issues/61

Sample Config:
[code]

Sample Gulp Task:
[code]

[2015-03-19 14:23] chmontgomery commented on #50
Thanks for writing up an issue.

I think the best way to fix this is to allow passing of plugin options to gulp-minify-css, as well as to all other plugins, e.g.:

[code]

Thoughts? Do you have a better idea on how to structure this?

[2015-03-19 14:35] smschrader commented on #50
No, I like this approach. Having control over the process being preformed would be ideal. It would be nice as well to add additional process, but I know that's out of scope of this issues.

I'm looking into how to incorporate gulp-remember into the current bundle flow.

[2015-03-19 14:41] chmontgomery commented on #50
@smschrader if you have specific things you want to add to the flow that are not possible today, please create a new issue for that so I can track the work. Thanks!

[2015-03-19 14:57] smschrader opened #51 "Add Gulp-Remember Into Bundle Flow"
Adding the ability to configure/enable [gulp-remember](https://github.com/ahaurw01/gulp-remember) will help make large bundles faster during development.

[2015-03-19 15:22] chmontgomery commented on #51
Adding gulp-remember is already possible to the main bundle task, e.g.:

[code]

However, an enhancement needs to be added to `gbundle.watch` to allow actions to run on `change`. I'm thinking of a config option like so:

[code]

How does that sound?

[2015-03-19 15:37] smschrader commented on #51
@chmontgomery I like that, simple enough!

[2015-05-06 16:40] sawyerh opened #53 "How to catch watch stream errors?"
Forgive me if this is a noob question, I'm a little new when it comes to Gulp. I'm wondering if it's possible to catch errors that happen during a watch. I'm able to do this successfully like this:

[code]

However, I'm not quite sure how to do it here:

[code]

[2015-05-06 20:06] chmontgomery commented on #53
Unfortunately that's not currently possible. An api enhancement would be necessary to `bundle.watch` to add an `onError` handler, similar to the [change proposed in this issue](https://github.com/areusjs/gulp-bundle-assets/issues/51).

I accept PRs, otherwise I'll try to get to it when I have time.

[2015-05-07 21:55] chmontgomery commented on #50
@smschrader we updated `gulp-minify-css` as well as adding options for plugins. Can you test `v2.20.0` and let me know if it works for you?

[2015-06-08 18:17] kinkay716 opened #56 "Add ability to use source maps on css only"
Im running into a double sourcemap issue since my gulp-sass has mappings for .scss -> .css and then the bundler has source maps from bundle -> .css.  In the browser, you see many mappings for css.  I would like to turn off mapping for css when bundling.  the current options of 'maps' is a blanket on or off for both css and js.

[2015-06-08 20:39] chmontgomery commented on #56
as a work around, can you simple create two separate bundles? One for your js and one for css?

[code]

[2015-06-08 21:26] kinkay716 commented on #56
yes...but hesitant to do so.  I'm working on a fairly large app and my bundle.config is already 1400+ lines.  If that is the only way, I understand.  I'm surprised nobody has brought this up before?  This would seem to be a pretty common use case.

[2015-06-08 21:45] chmontgomery commented on #56
Any file that is 1400+ lines long is going to be impossible to manage... my first suggestion would be to refactor your bundle.config so that each bundle is in it's own file and then the main bundle.config can require or loop through and include the separate files. You can also use a default set of options and merge them with custom ones for each bundle using something like [_.merge](https://lodash

[2015-06-11 19:47] chadwilken opened #57 "Allow skipping revision hash addition"
I current have another tool setup to allow me to version my assets and need to use that. It doesn't work well with the revision hash added to the asset name. Is there a way to use this without getting the hash?

[2015-06-11 20:07] chmontgomery commented on #57
Yes! All you need to do is use the `rev: false` option, e.g.

[code]

[See here for the option in action](https://github.com/dowjones/gulp-bundle-assets/blob/master/examples/full/bundle.config.js). If that doesn't work, let me know.

[2015-06-11 20:08] chadwilken commented on #57
That is what I have but it doesnt seem to be working unless it is caching my config file or something

[2015-06-11 20:14] chmontgomery commented on #57
Your config file will only be cached when in watch mode. Otherwise, every new invocation of `bundle()` should re-require your bundle config.

As is, your code looks fine. Do you have a project you can share with more context? Perhaps your full `bundle.config.js` and `gulpfile.js`?

[2015-06-11 20:15] chadwilken commented on #57
Man sorry for the confusion something went haywire with my system and it was fine once I closed out of Visual Studio...Sorry too waste your time, thanks for the quick replies!

[2015-06-11 20:15] chmontgomery commented on #57
np

[2015-06-11 20:15] #57 closed

[2015-06-17 14:45] julianpaulozzi opened #58 "static files url adjuster"
Is there any way to change the css absolutes urls refs on transform?
Additionally there is how to specify the output directory to static files (images, fonts, css, js) separately?

[2015-06-17 20:42] chmontgomery commented on #58
Yes.

Firstly, you can modify the path prefixes inside `bundle.result.json` as part of the call to `bundle.results` as seen here: [examples/custom-transforms/gulpfile.js](https://github.com/dowjones/gulp-bundle-assets/blob/master/examples/custom-transforms/gulpfile.js#L11)

Second, you can put each bundle under a custom folder structure by naming your bundle appropriately. Hopefully this example m

[2015-06-17 20:42] #58 closed

[2015-06-19 07:53] aklkv opened #59 "How to prepend custom path to script bundle or style"
Is it possible to putt scripts to deferent folders in one form same config file?
Here is what I have:

[code]
[code]

Thank you.

[2015-06-19 13:56] chmontgomery commented on #59
Yes. Simply make the bundle name a relative url path.

[code]

See [this example for more details](https://github.com/dowjones/gulp-bundle-assets/tree/master/examples/custom-url-paths).

On a side note, you can use the built in `bundle.watch`, which provides better performance for incrementally building only the bundle(s) that changed, see: [examples/full/gulpfile.js](https://github.com/dowjones/g

[2015-06-19 13:56] #59 closed

[2015-06-26 04:44] timelf123 commented on #11
Can you give an example of how this would work?

I originally misread the title as being able to push your built files to a CDN. For those looking to do that, here is an easy way to do it with `gulp-cloudfront` and `gulp-awspublish`.

[code]

[2015-06-26 04:47] timelf123 commented on #51
That looks like a great addition to the API. Some of my bundles/copy tasks are pretty hefty

[2015-06-26 04:49] timelf123 commented on #48
This would be amazing for imagemin on copied images

[2015-06-26 06:48] timelf123 commented on #25
This is a must fix for me. The order of my JS files is important, and every time the bundles are built I get different errors

[2015-06-29 17:36] chmontgomery opened #60 "add `pathPrefix` to bundle config"
Currently, you can define the `pathPrefix` for your url paths as an [option to `bundle.results`](docs/API.md#optionspathprefix). This applies to all bundles. Ideally, we should be able to be more granular by defining a `pathPrefix` option to each bundle individually, e.g.

[code]

[2015-06-29 17:37] chmontgomery commented on #11
@timelf123 right, this issue is not about pushing built files to a CDN. There are plenty of other good plugins already for that.

This is meant for the `bundle.result.json` file, i.e. the generated result could look like this:

[code]

Since this issue was written we added support for the [bundle.result `pathPrefex` option](docs/API.md#optionspathprefix). If that doesn't support your use case, we

[2015-06-29 17:37] #11 closed

[2015-06-29 17:57] chmontgomery commented on #60
note: related to https://github.com/dowjones/gulp-bundle-assets/issues/22

[2015-06-29 20:18] chmontgomery commented on #25
Thinking through the config that would represent this feature... what do people think about this?:

[code]

The config is based off what [`gulp-order` natively supports](https://github.com/chmontgomery/gulp-order-example/blob/master/gulpfile.js#L25).

[2015-06-30 16:18] timelf123 commented on #25
That looks great to me. Pretty easy to understand too

[2015-06-30 16:22] timelf123 commented on #22
I like the env definitions. I suppose the same thing can be accomplished now by checking env before the plugin runs (and setting pathPrefix), then passing to https://github.com/dowjones/gulp-bundle-assets/blob/master/docs/API.md#optionspathprefix

[2015-07-08 19:27] smschrader commented on #50
Sorry for the delay, just got a chance to update and test, everything is working as expected.

[2015-07-09 21:24] smschrader commented on #50
Actually, the error is fixed, but it's now not including any .less files when minCss is true. Even with the options passed.

So, the error being thrown has been addressed, but the underlying lying issue(s) is still there.

[2015-07-15 07:12] senritsu opened #61 "bundle.watch tends to crash when a watched file is deleted"
On deleting any file or folder in the watched set, usually the bundle.watch crashes with the following error message:

[code]

Error message suggests it is a permission problem (which is not the case), and makes it seem like it is on the node fs side, but could be caught and handled by the bundle watcher

[2015-07-15 12:54] chmontgomery commented on #61
Can you post your gulpfile, OS, version of gulp?

Also, since `bundle.watch` is simply using `gulp.watch` under the covers, do any of these help you?
* https://github.com/gulpjs/gulp/issues/738
* https://github.com/gulpjs/gulp/issues/660
* http://stackoverflow.com/questions/18634971/node-watch-eperm-when-the-watched-folder-is-deleted

[2015-07-15 16:25] senritsu commented on #61
gulpfile, not sure if i am allowed to post it publicly, company policy and all that.

OS is windows 8.1 x64, local filesystem, full admin permissions
gulp dependency is ^3.8.10

removing a leading dot from the glob, or changing
[code]
to
[code]
had no effect. Still got a crash after deleting 2 or 3 files.

[2015-07-16 20:28] smschrader commented on #50
So I actually got to spend time today investigating this issue. It appears your code is OK, and it's actually another bug within the clean-css plugin. There is an issue with how it "interprets" short hand css properties and converts their values. [Issue in Clean CSS](https://github.com/jakubpawlowicz/clean-css/issues/149)

For example in my case the shorthand
    font: 11px/normal sans-serif;
got

[2015-07-16 20:34] chmontgomery commented on #50
Thanks for looking into this. Do you know off the top of your head: will this problem be helped by upgrading to the latest `gulp-minify-css` version (1.2.0)?

[2015-07-16 20:37] smschrader commented on #50
Let me go force the version and check.

[2015-07-16 20:51] smschrader commented on #50
No, I updated to the most recent version of clean-css in your package and get the same error. I left a comment on their font thread as well.

Based on [this fixed](https://github.com/jakubpawlowicz/clean-css/commit/1c49d30da6821b73e0257e48f195825b94374f43) that was put in, it's still going to be an issue as it's only looking for "normal" and not checking boundaries before of after the string.

I'm

[2015-07-16 20:58] chmontgomery commented on #50
ok thanks for investigating. I'm closing this issue for now.

[2015-07-16 20:58] #50 closed

[2015-07-17 21:08] #25 closed

[2015-07-17 21:13] chmontgomery commented on #25
@RyanS @timelf123 can you pull down `v2.22.0` and verify if this feature works for you? Thanks!

[2015-07-17 21:46] chmontgomery opened #63 "styles do not use .min files by default like scripts"
By default, if `minSrc` files are specified and no `useMin` option is defined, `minSrc` should be used over `src` file.

For example, with no `NODE_ENV` defined, the following `bundle.config.js` will use `jquery.min.js` and `bootstrap.css`. It should use `bootstrap.min.css` instead.
[code]

[2015-09-03 02:58] narthollis opened #64 "Extend plugin options to cover sourcemaps"
I would like to be able to change the default gup-sourcemap behaviour, particularly sourceRoot and includeSource.

It would be good to expending pluginOptions to cover gulp-sourcemaps.

[2015-09-06 21:50] chmontgomery commented on #64
:+1: I like the idea. Feel free to create a PR and I will merge

[2015-09-16 14:59] #64 closed

[2015-09-19 23:41] waynebloss opened #67 "Predictable and uniform hash ids for static assets"
I would like to use your bundler in my gulpfile, but I see that you're using [gulp-rev](https://github.com/sindresorhus/gulp-rev) and I'm not sure how to get predictable and uniform hashes for my static assets with it. Let me explain what I mean by that.

Right now when you generate bundles they might come out like this:
[code]

But I would like them to come out like this, so that I know which fil

[2015-09-20 21:34] waynebloss commented on #67
You know what, I was looking at [gulp-rev](https://github.com/sindresorhus/gulp-rev) and [rev-hash](https://github.com/sindresorhus/rev-hash) today and I changed my mind thanks to the article linked to in the rev-hash readme - it's the best way to go for bundling.

I'm going to just use my version hashing procedures to make version directories for my app's static html (e.g. `/urlpath/to/myapp/x8uv

[2015-09-20 21:34] #67 closed

[2015-09-21 12:14] chmontgomery commented on #67
sounds like you got it.

A couple observations:

1. gulp-rev is predicable in the sense that the hash is generated based on the file contents. The hash will always be the same as long as the file contents don't change.
2. you can use `gulp-bundle-assets` and a custom hash algorithm together. [Take this example](https://github.com/dowjones/gulp-bundle-assets/blob/master/examples/custom-url-paths/bu

[2015-11-03 16:17] okvic77 opened #68 "This like native feature"
Hi,

I like this gulp pipe, but there is a problem with the styles @url files. They are not imported. The copy function is not the best, they can't "rev" the files and change the link in the styles.

I done this https://github.com/okvic77/gulp-bundle-assets-append
The url of the styles are hashed and the reference is updated. See the Travis build for an example.

This could be a native feature in

[2015-11-13 15:45] chmontgomery commented on #68
@okvic77 have you tried using [`gulp-rework`](https://www.npmjs.com/package/gulp-rework) as part of the custom transform instead of using `rework` directly? It seems `gulp-rework` takes care of importing the files for you, i.e.: https://github.com/sindresorhus/gulp-rework/blob/master/index.js#L25

[2015-11-15 03:22] okvic77 commented on #68
I'll try, but how I can attach a new file (font files) to the pipe but skip some process like ```gulp-rev```, or wait for ```gulp-rev``` and then replace the link in the file (vinyl).

[2016-01-30 15:27] DasJott opened #70 "Copy from wildcard directories means problem with base path"
copy: [
        {
          src: './Sections/**/Content/img/*.{png,jpg}',
          base: './Sections/**/Content/',
          watch: true
        }
    ]

It doesn't copy at all, because it doesn't understand the wildcard in the "base" property.
It would be pretty cool if it would!

[2016-02-06 13:54] DasJott opened #71 "Order of bundles in bundle.result.json"
What causes the order in bundle.result.json?
I would love to be able to set the order the bundles appear in the result.
Would that be possible?

[2016-02-07 19:10] chmontgomery commented on #71
Currently, the result order is simply based on the order the bundles leave the stream. One work-around is you could add a custom handler at the end of the stream that does a final reorder:

[code]

That is not ideal though. This functionality should be handled by this package. By default I would think the order would match the order of bundles as they appear in the `bundle.config.js`?

[2016-02-07 19:17] DasJott commented on #71
Yes, the order would be intuitive, I think.
Brilliant!

[2016-02-28 19:48] venelinn opened #73 "Include group in bundle?"
Hi,
I'm wondering if I can do something like this?
Including group(s) in specific bundle?
Thanks

http://pastebin.com/ZXW7h5Ln

[code]

[2016-02-28 20:11] chmontgomery commented on #73
since `scripts` is just a simple js array you can do this lots of ways, e.g.

[code]

or with [globs](https://www.npmjs.com/package/glob)

[code]

[2016-02-28 20:11] #73 closed

[2016-02-28 20:11] chmontgomery commented on #73
If I'm not understanding your question correctly feel free to reopen

[2016-02-28 22:55] venelinn commented on #73
Amazing ! Thanks a lot

[2016-02-29 21:00] venelinn opened #74 "More details for bundle watch"
Hi again !
I'm looking for more information how to setup the watcher.
So, I have 2 questions
This is my bundle.config.js
[code]

I have another task for generation CSS from SCSS (before run bundle) using gulp-sass
[code]
So, first question, is this the right way?
And the second one how to watch for changes without regenerating all assets over and over?

Let me know if you need more info!
Thanks!

[2016-03-16 16:15] Waymoot opened #75 "scripts are uglifyed even if useMin is true and a minSrc is specified"
I had to mix Prototype and jQuery and for some reason Prototype could not be uglifyed.
I created a compressed version of Prototype with no uglify (just remove comments and space)
The output shows that it uses the minSrc file but it uglify it again during processing which breaks the code.

`module.exports = {
  bundle: {
    vendor: {
      scripts: [
        './path/to/jquery.js',
        {src: '.

[2016-03-17 05:03] alexweissman opened #76 "Custom targets for bundled scripts and styles?"
Thanks for the great plugin!  This seems like the exact solution I need for a full-fledged asset manager.

This issue relates to #22 and #60.  In addition to specifying custom bundle directories in the `bundle.result.json`, it would also be useful if I could specify custom target directories for different types of assets.  For example, multiple bundles' Javascript assets could be written to `publi

[2016-03-17 08:20] Waymoot commented on #76
I second this suggestion.
I had to run two different bundle configs separating CSS and JS just to make this happen.

[2016-03-17 14:03] chmontgomery commented on #75
I think there is a bug when `uglify` and `useMin` are used together. The `uglify` option forces uglification no matter what. What should happen is what you describe: `useMin` should override the `uglify` option if `minSrc` is defined

[2016-03-17 20:03] chmontgomery commented on #74
@venelinn Firstly, you can use gulp-bundle-assets to run your sass compilation so that you can create your entire css bundle in one go. [See the custom-transforms example on how to do this](https://github.com/dowjones/gulp-bundle-assets/tree/master/examples/custom-transforms#custom-transforms).

Secondly, you can use the built in `gbundle.watch` to only re-build the bundles that changed. [See this

[2016-03-17 20:03] #74 closed

[2016-03-17 20:11] chmontgomery commented on #76
actually this is possible, however poorly documented. You can accomplish this by adding the paths as part of the bundle name in `bundle.config.js` as seen here: https://github.com/dowjones/gulp-bundle-assets/blob/master/examples/custom-url-paths/bundle.config.js

For your use case, it would basically look like this:

[code]

[code]

So the resulting files would be `public/js/main.js` and `public/c

[2016-03-17 22:46] Waymoot commented on #76
Wow that looks to solve the issue :+1:
I have to check it out and yes, this really should be documented better because that was a great feature.

[2016-03-18 18:43] alexweissman commented on #76
Awesome, thanks for the quick reply!  I'll try this out.

[2016-03-22 14:59] alexweissman commented on #76
It looks like my question is actually a duplicate of #49.  Should we add it to the Wiki?

[2016-03-22 15:04] alexweissman opened #77 "Specify custom paths for the `copy` task"
For `copy`, we can relativize the destination directory by specifying a `base` directory.  For example,

[code]

will copy the files into `myBaseDirectory/fonts/`.  However, what if I wanted to copy the files into `myBaseDirectory/foo/` instead?  I know I can set `options.base` in my gulpfile, but this is a global configuration parameter.  In this case, we just want to specify the target directory

[2016-03-22 18:44] chmontgomery commented on #76
@alexweissman definitely. want to take a crack at writing up some markdown for documenting this?

[2016-03-22 18:44] #76 closed

[2016-03-22 18:54] chmontgomery commented on #77
This is one of many `copy` feature requests. For now what I've been telling people is: if you need advanced `copy` functionality, use gulp ootb as a dependent task to your `bundle` task

[code]

Does that work for you?

[2016-03-23 16:53] alexweissman commented on #76
[Done](https://github.com/dowjones/gulp-bundle-assets/wiki).

[2016-03-23 17:09] alexweissman commented on #77
Yup, I'll give it a try.  Will a dependent task like `gulp-replace` also work for modifying relative URLs in CSS (background images, `@font-face` sources, etc) before/after bundling?

[2016-03-23 17:30] chmontgomery commented on #76
@alexweissman perfect! thanks!

[2016-03-23 17:41] chmontgomery commented on #77
@alexweissman yep! Running `gulp-replace` as a dependent task would work fine. However a cleaner approach would be to build it into your styles bundle as a custom transform, e.g.

[code]

See this example for more details: https://github.com/dowjones/gulp-bundle-assets/tree/master/examples/custom-transforms

Let me know if that works for you.

[2016-03-23 17:42] alexweissman opened #78 "Use a JSON object, rather than `bundle.config.js`, as the source configuration?"
I'm still pretty new to Node and Gulp, and I've been playing with streams and vinyl to try to get this to work, but I can't seem to figure it out.

Basically, I'd like to use a pure JSON file as my input stream, rather than `bundle.config.js`, which requires the extra `module.exports = ` at the beginning.  It seems that I can use `require` to load my JSON file, `bundle.config.json`, into `bundle.c

[2016-03-23 17:45] alexweissman commented on #77
Yes, I like this.  I imagine I could assign `lazypipe().pipe(replace('bar', 'foo'))` to a variable, and that way be able to use the same transformation in different bundles?

Thanks again for all your help, I'm excited about incorporating npm and `gulp-bundle-assets` into my project!

[2016-03-23 17:50] chmontgomery commented on #78
have you already tried just piping the json file directly? e.g.

[code]

[2016-03-23 18:14] alexweissman commented on #78
Derp.  That works!

So, what's the point of `module.exports = `, then?

[2016-03-23 18:14] #78 closed

[2016-03-23 18:19] chmontgomery commented on #78
@alexweissman it's a node-ism. `module.exports` is needed for `.js` files, but you can also simply `require` a json file directly.

[2016-03-23 18:20] chmontgomery commented on #78
@alexweissman again, this isn't documented either. Perhaps another wiki entry? ;)

[2016-03-24 18:46] alexweissman commented on #78
Done!

[2016-04-03 04:49] alexweissman opened #79 "Trouble getting global result options to work"
I'm having some difficulty getting result options to work globally in my gulpfile.  I've tried:

[code]

(where `plugins.bundleAssets` is a reference to the package).  It is still defaulting to the `html` format for results.

I've also tried using the syntax mentioned briefly in #9, though I suspect that was just pre-planning.

[2016-04-03 14:32] chmontgomery commented on #79
Those `result.type` options are defined at the bundle level, not the global level. Have you tried following this example? https://github.com/dowjones/gulp-bundle-assets/tree/master/examples/custom-result#built-in

[2016-04-03 14:58] alexweissman commented on #79
Yup - but those appear to be per-bundle, correct?  I was hoping to configure my task globally.

[2016-04-03 15:08] chmontgomery commented on #79
Right. At this point that config is only available at the bundle level. I'd
accept a PR ;)
On Apr 3, 2016 9:58 AM, "Alex Weissman" <notifications@github.com> wrote:

Yup - but those appear to be per-bundle, correct? I was hoping to configure
my task globally.

—
You are receiving this because you commented.

Reply to this email directly or view it on GitHub
<https://github.com/dowjones/gulp-bundle

[2016-04-03 16:06] alexweissman commented on #79
Ah, gotcha.  Unfortunately, I'm pretty new to Node and have my hands full with UserFrosting.  Maybe I can find someone in our community who'd be willing to contribute :-D

[2016-04-11 10:27] DasJott commented on #71
Any progress on this?
Built a workaround for my project for now, where I use an extra file setting the order.

[2016-04-11 13:00] chmontgomery commented on #71
Sorry no. I'm always willing to accept PRs...

[2016-04-15 14:24] DasJott opened #80 ""Broken @import declaration" when compiling less"
I have a folder containing a file **_main.less_** and a folder _**bootstrap**_ containing many less files and one (**_bootstrap.less_**), only consisting from imports.

So in the **_main.less_** I am doing
`
@import "bootstrap/bootstrap.less"
`

On starting the task for bundling, the less compiler seems to prepend the bootstrap directory to every import in the bootstrap.less, resulting in many err

[2016-04-25 11:40] amcpanaligan opened #81 "Result filename GUID causing trouble"
Hi,

I'm wondering if I can turn off or override the guid like characters when gulp-bundle-assets is executed.
"vendor-cbf4577cc3.js" how can I explicitly define a filename for this removing the auto generated "cbf4577cc3" or just replacing it with my preferred string as a whole. Docs are complicated. I don't want to use result.json, I have tfs, I would not want to check in all different files whe

[2016-04-25 13:36] chmontgomery commented on #81
@amcpanaligan the guid in the file name is controlled by the `rev` key in your `bundle.config.js`. To disable it, simply use `false`, e.g.:

[code]

See here for an example: https://github.com/dowjones/gulp-bundle-assets/blob/master/examples/per-environment/bundle.config.js#L14

Also, if you think the docs are complicated, a community wiki has been started for general FAQ that you're welcome to he

[2016-04-25 13:36] chmontgomery commented on #81
If this doesn't answer your question, let me know and we can reopen this issue.

[2016-04-25 13:36] #81 closed

[2016-05-06 18:51] chmontgomery commented on #80
@DasJott just today I updated to latest `gulp-less` and switched the css minification library to `gulp-clean-css`. Can you try your use case again with latest code (`v2.26.0`)?

If you're still having issues after that, could you try playing with the various less options? http://lesscss.org/#using-less-configuration, in particular `paths`?

[2016-05-10 13:52] chmontgomery commented on #80
@DasJott closing for now. If you're still experiencing issues please reply.

[2016-05-10 13:52] #80 closed

[2016-05-10 15:56] DasJott commented on #80
Hey, @chmontgomery!  I'm very sorry for answering so late. Somehow gmail thinks it's funny to keep mails for four days...
I will try your update this week and provide feedback!
I usually worked around this issue by using the latest gulp-less and specify that in bundle config.

[2016-05-10 15:58] chmontgomery commented on #80
@DasJott cool! thanks. curious how it goes.

[2016-05-11 08:50] DasJott commented on #80
@chmontgomery Sad news... still the same using v2.26.0
One error came in addition:

[code]

I fi do
[code]

and in each bundles options

[code]
using gulp-less 3.0.5 it works just fine!

Strange, isn't it?

[2016-05-11 18:29] chmontgomery commented on #80
yes. strange. `gulp-bundle-assets` uses `"gulp-less": "3.1.0"`, so perhaps that's the difference?

One other thing you can try is cleaning your npm cache to make sure everything is up to date:

[code]

Also, what version of npm are you using?

[2016-05-11 18:58] DasJott commented on #80
Tried the 3.1.0 as well. Same thing.
I use npm 4 or 5? Gotta look that tomorrow.
Do you use any paths when calling those tools?

So I use the same version of gulp-less but explicitly specified and then it works.

[2016-05-11 19:03] chmontgomery commented on #80
the latest version of npm is `3.9.0`.

All this makes me think it's a cache issue. Make sure you have latest npm, then follow the steps I specified above to clear cache and re-install. Let me know if that helps.

[2016-05-13 06:48] DasJott commented on #80
Using npm 3.8.6 here. Sorry, didn't know that anymore ;)

So, if I remove the folder, clear the cache and do npm install again, it is - sadly - the same thing.

See the output from install:
[code]

Then I made gulp bundle, wich starts the bundling. The output there produces an error as well, see:
[code]

But with a
[code]
and a
[code]
in options of the bundle, everything works fine.

So that must

[2016-05-18 10:17] vinhnghi223 commented on #61
Any news on this? I have the same problem.

[2016-05-20 04:46] AndrewCraswell commented on #71
Dropped in to see if someone reported this yet. My project requires bundles to be rendered in a particular order, so this would be an ideal enhancement.

[2016-05-20 13:03] PlasmaPower commented on #71
To change the ordering, I'd need to either add an order/weight attribute, or change the order they are coming through the stream. Which would be preferable? I'd think the former.

[2016-05-20 13:25] chmontgomery commented on #71
@PlasmaPower see the thread above. The object key order in `bundle.result.json` should match the order of the keys in `bundle.config.js`, e.g.

Given this `bundle.config.js`:

[code]

The `bundle.result.json` should look like this:

[code]

[2016-05-20 16:03] PlasmaPower commented on #71
@chmontgomery Yes I get that, I'm talking about how to accomplish that. When the objects are piped through the stream, the result pipe will put them into the file. However, it doesn't know about the order of them in the config. Therefore, it must receive that information, I would put it in an order attribute for the bundle. Is that good? I could also simply ship the bundles in the correct order, b

[2016-05-20 16:35] chmontgomery commented on #71
@PlasmaPower I think putting the order in an `order` attribute under the `result` object makes sense: https://github.com/dowjones/gulp-bundle-assets/blob/master/lib/results/add-bundle-results-to-file.js#L11

The only downside of this approach is that we'll be passing the result order down attached to every file in the stream, but as long as you keep the object small it shouldn't be a problem, e.g.

[2016-05-20 16:37] PlasmaPower commented on #71
@chmontgomery Makes sense, I was just planning on storing that specific item's position in the result but your solution will probably be more stable and faster.

[2016-05-23 18:09] chmontgomery commented on #71
this feature has been published into `v2.27.0`. Please test and let me know how it works!

[2016-05-23 18:22] DasJott commented on #71
Big thanks to you both!
I will try it and report.
So I probably can get rid of the workaround. I made a textfile with the result names in the wanted oder. And my framework just did it then.

[2016-05-23 20:48] bmvakili opened #88 "TypeError: Object.keys called on non-object"
Hello, with new release, getting error:

[code]

Above's result of `gulp buildAll` command.

The said line was recently changed here:
https://github.com/dowjones/gulp-bundle-assets/commit/30afbc87ec3855d38ad4a80dede5d54423dd3701#diff-cc30f4d57e32ddd61eb96d387c60c412R53

As workaround, I've wrapped in a try-catch:

[code]

For clarity, version details below:
[code]

[2016-05-23 23:50] chmontgomery commented on #88
Sorry, this was me. I will get a fix out tonight for you

[2016-05-24 00:50] AndrewCraswell commented on #71
It's working for me, it's solved our issues :)

[2016-05-24 02:58] #88 closed

[2016-05-24 03:00] chmontgomery commented on #88
@bmvakili a fix has been published to `v2.27.1`. Can you please test and make sure it works for you? Thanks!

[2016-05-25 15:25] bmvakili commented on #88
Our cache just let me test this new release; and confirming build's finishing again. Thanks @chmontgomery for quick fix!

[2016-06-01 14:27] TheWix opened #90 "Result contains list of unbundled files as well/"
Hey there, it would be be cool to be able to get a list of files that went into the bundle in the result file. in Dev we like to have the individual files rather than trying to debug a big bundle, and I could use the result file to print the individual scripts.

[2016-06-01 17:27] chmontgomery commented on #90
Are you able to debug using sourcemaps? In the past that has been enough for me, at least in Chrome dev tools, because you can put break points in the original file.

That said, this enhancement wouldn't be difficult to accomplish considering we're already printing each file during ingestion. I don't have time right now but I accept PRs.

[2016-06-02 09:40] TheWix commented on #90
Normally yes, we find however, that debugging with typescript and sourcemaps to be buggy at times so  we end up debugging the raw JS. Cool, I will look at coming up with a PR. Thanks, bud.

[2016-06-02 13:52] chmontgomery commented on #90
@TheWix makes sense. I've also had problems in the past debugging transpiled code (babel, etc).

For the result file, I'm thinking it would make sense to _not_ have the original files by default. You could enable this functionality by adding a new [bundle option](https://github.com/dowjones/gulp-bundle-assets/blob/master/docs/API.md#bundleoptions). The actual code change could look similar to [thi

[2016-06-25 01:59] alexweissman opened #91 "Searching multiple base paths for assets"
I want to be able to search multiple base paths for assets referenced in my `bundle.config.json` file.  For example, I have assets split up between `app/core/assets/` and a set of subdirectories defined as `app/sprinkles/*/assets/`.  I tried setting my `base` option as:

`base: '../app/{core/assets/,sprinkles/*/assets/}';`

This is the syntax specified in the [npm glob module](https://www.npmjs.co

[2016-07-13 23:28] alexweissman commented on #91
ping!

[2016-07-20 21:32] chmontgomery commented on #91
sorry @alexweissman I just changed jobs so I've had little time to manage gba. Unfortunately this usage isn't something I've personally ever tried or heard of anyone trying.

The base prefixed to the script paths using `path.join` and then passed to gulp here: https://github.com/dowjones/gulp-bundle-assets/blob/master/lib/stream-files.js#L48

gulp, I think, using this module internally to understa

[2016-07-21 19:05] alexweissman commented on #91
Thanks for getting back to me - and I completely understand.

I don't really have much experience with Node and Gulp, so we might have to wait until someone who does comes along!

[2016-08-02 07:01] Bala-raj opened #92 "Is there anyway to configure to delete the older version files, if in case of file version changed"

[2016-08-30 10:47] inertum opened #93 "Defining output paths for JS / CSS files"
Is there a way to give CSS/JSS different output paths

/assets/js <--- js files
/assets/css <-- css files
/assets/img <-- image files

so that the results json also reflects these?

[2016-08-30 13:17] chmontgomery commented on #93
yep.

see this issue for details: https://github.com/dowjones/gulp-bundle-assets/issues/76

Also someone wrote up a wiki post as well: https://github.com/dowjones/gulp-bundle-assets/wiki/How-do-I-specify-separate-target-subdirectories-for-bundled-scripts-and-styles%3F

[2016-08-30 13:17] #93 closed

[2016-08-30 14:37] inertum commented on #93
Thank, sorry for the duplicate

[2016-09-18 18:27] AndrewCraswell opened #94 "Disable bundling for dev environment"
There ought to be some mechanism to produce the bundle.result.json file without actually bundling any of the files. My team would like to have a **dev** build process where files aren't bundled, and a **production** process that bundles them all. We had thought about creating a different gulp task for each environment. The **dev** task wouldn't utilize gulp-build-assets. However, our HTML is readi

[2016-09-18 18:32] AndrewCraswell commented on #90
+1, my team has been needing this enhancement as well. In addition, we've found that our codebase is so large that doing the bundle takes 8-10 seconds. This is agonizing when you're waiting for a watch task do a rebuild.

[2016-09-18 18:32] #94 closed

[2016-09-18 18:33] AndrewCraswell commented on #94
Didn't realize this is a duplicate of #90.

[2016-09-21 00:38] AndrewCraswell commented on #92
I agree this would be useful. But my team has a gulp task that just deletes the dist folder before our build process kicks off.

[2016-09-23 23:54] AndrewCraswell commented on #90
I've placed a $75 bounty on this issue.
https://www.bountysource.com/issues/34768377-result-contains-list-of-unbundled-files-as-well

[2016-09-27 03:21] PlasmaPower commented on #90
I've begun work on this issue. I expect to be done by tomorrow, but things may come up.

[2016-09-27 03:48] PlasmaPower commented on #90
I think I have a good idea of how to do this, but where should I add this into the results JSON? Every key seems to be user generated. It looks like hard coding a value might be our only option. We could also change the format of the file when the option is enabled, but I wouldn't recommend that as it'd cause more issues than a hard coded key.

[2016-10-01 00:17] PlasmaPower commented on #94
I think this is somewhat different than #90. In that issue, the author wants to simply output paths to the unbundled files. In this issue, the files would still be processed, but they would not be bundled. Do you need to process the files, or is a relative path to the source good?

[2016-10-01 00:21] PlasmaPower commented on #94
In addition, even if the bundle results are changed to reference the source, the files would still be processed and bundled (even though they aren't used). I'm thinking you basically want a passthrough option, that still generates the "bundle" results. Maybe a separate module would be more appropriate?

[2016-11-12 22:16] gentoo90 commented on #90
Hey guys, any news on this?

[2017-04-06 06:11] nathanwoulfe commented on #90
@PlasmaPower - is this any chance of happening? If the generated JSON file kept its existing structure but added a scriptsRaw and stylesRaw property which stored a string representing the included files, that would be amazing...

[code]

I'm in the same boat as other commenters, where the bundling process takes 15+ seconds, so would prefer to be able to render the source files in dev, but the bund

[2017-04-06 11:54] PlasmaPower commented on #90
I'm coming back to this issue after a while, so I might be missing something, but I think at that time I was thinking that a user might name a bundle part `scriptsRaw`, conflicting with this.

[2017-04-06 12:02] PlasmaPower commented on #90
Looking at this with a fresh perspective, I think it might be best to add `outputRaw`and `rawPostfix` (defaulting to `"Raw"`) options, so a user could set it to something that doesn't conflict with their existing bundle parts.

[2017-04-08 20:15] PlasmaPower commented on #90
I'm working on this again.

[2017-04-09 04:51] PlasmaPower commented on #90
PR created! #96

[2017-04-09 07:08] nathanwoulfe commented on #90
Champion.

[2017-04-13 03:10] PlasmaPower commented on #90
Would someone mind testing out my branch and see if it works for you? Since the PR doesn't seem to be getting much attention, I'd like some feedback.

[2017-04-13 03:12] nathanwoulfe commented on #90
Off work this week, will have a look when I'm back. Sounds like exactly what I needed though, so thanks in advance.

[2017-04-15 17:58] #90 closed

[2017-04-15 18:04] chmontgomery commented on #90
just published in version `2.28.0`. Let me know how it looks!

[2017-07-15 03:22] AndrewCraswell opened #97 "Possible to add async/defer to result script tags?"
I searched through the documentation but didn't see any mention of how to configure certain bundles to add async or defer attributes to the script elements. Is this already possible, or is this a feature request you'd consider approving a PR for?

[2017-07-16 15:33] chmontgomery commented on #97
Yes, this is definitely possible. Unfortunately the documentation is a
little hidden. See examples/custom-result
https://github.com/dowjones/gulp-bundle-assets/tree/master/examples/custom-result#custom-results

I would accept PRs to update the docs to make this more discoverable. A
wiki page would also do the trick.

Thanks. Chris

On Fri, Jul 14, 2017 at 10:22 PM, Andrew Craswell <notifications@g

[2017-07-17 05:53] nathanwoulfe opened #98 "Optional sorting when outputUnprocessed: true"
Currently using the outputUnprocessed flag for dev environments, which is awesome. Only issue is some bundles require loading files in a particular order - is it possible to add an option (something like sortUnprocessed), to optionally disable the alpha-order sorting?

[2017-07-20 02:54] chmontgomery commented on #97
if you have more questions let me know

[2017-07-20 02:54] #97 closed

[2017-07-20 03:00] chmontgomery commented on #98
have you tried the `order` option? https://github.com/dowjones/gulp-bundle-assets/tree/master/examples/guarantee-content-order

Does that fit your use-case?

[2017-07-20 05:41] nathanwoulfe commented on #98
Not sure that this is the same issue - when we build the bundles, they are output with the files in the same order as defined in bundle.bundleName.scripts[].

The issue is when using the outputUnprocessed flag to generate the bundle-files.json file, which contains the raw file references:

[code]

I need to control the output order in this file, not the actual bundle. Is that possible with `order`

[2017-07-26 02:40] chmontgomery commented on #98
Now I see what you're saying. No, there is nothing built in to make that possible currently. I take PRs!

[2017-07-26 08:15] nathanwoulfe commented on #98
Rightio, I'll have a crack...

[2017-08-24 03:34] #98 closed

[2017-08-28 23:58] nathanwoulfe commented on #98
Any plans for a 2.29 release? Would love to use this in production, but need the npm package

[2017-08-29 02:13] chmontgomery commented on #98
done! let me know if you see any issues

[2017-08-29 02:25] nathanwoulfe commented on #98
Champion, works as expected.

[2017-10-20 10:43] caitlineatman opened #100 "Enable/disable maps based on environment"
I'd like the source maps to be disabled based on environment. However, when I do this:
`var devLikeEnvs = ['development'];`

And then in my bundle options:
`maps: devLikeEnvs`

It doesn't work. I looked closer at the code and it appears that you can't set it by environment like you can other bundle options.

[2017-11-11 01:31] chmontgomery commented on #100
This is true. I take PRs!

[2017-11-30 10:49] jigapate opened #101 "Install failed with error of coffee-script"
Hi,

I tried to install this plugin, but it failing with errors everytime,

What is problem here?

C:\E_Drive\test>npm install gulp-bundle-assets --save
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@0.2.14: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated graceful-

[2017-11-30 13:04] moso80 commented on #101
Related to postinstall script in coffee-script. As a temporary fix add "coffee-script": "1.12.7" as dependency in your package.json. https://github.com/jashkenas/coffeescript/issues/4805

[2017-11-30 13:47] moso80 opened #102 "Bundling fails due to json parse issue"
Hi,

I sometimes get this error when i save a script- or sass-file:
Unhandled rejection SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>:null:null)
    at D:\develop\client\src\Web\node_modules\gulp-bundle-assets\lib\results\index.js:110:49
    at tryCatcher (D:\develop\client\src\Web\node_modules\bluebird\js\release\util.js:16:23)
    at Promise._settlePromiseFromHandler (

[2017-12-25 17:15] itlessons opened #103 "Gulp 4.0.0-alpha.3 can't parse config bundle file"
After update to Gulp 4.0.0-alpha.3 code throw error:

Error: Configuration file should be in the form "{ bundle: {}, copy: {} }"
 at new Config (/path/node_modules/gulp-bundle-assets/lib/model/config.js:26:11)
    at Writable._write (/path/node_modules/gulp-bundle-assets/index.js:38:16)
    at doWrite (/path/node_modules/gulp-bundle-assets/node_modules/readable-stream/lib/_stream_writable.js:319:1

[2017-12-25 19:21] chmontgomery commented on #103
`gulp-bundle-assets` was never intended to work with gulp 4. `gulp-bundle-assets` should still be using gulp 3 under the covers even if you're using a gulp 4 `gulpfile`. I bet there's a shared dependency that breaks things since I never shrinkwrapped (or package locked) this module.

I don't have any plans to update this module for gulp 4 support. sorry.

[2017-12-25 19:21] #103 closed, assigned to nobody

[2017-12-25 19:53] #101 closed, assigned to nobody

[2017-12-28 16:48] bwbb opened #104 "Combine bundle.watch with gulp.pipe, or have callback on a complete iteration"
Hi, I need to deploy my assets to multiple directories, after they've been built by the `bundle.watch( options )` command. Ideally, the one of the directories will have an ENV variable as part of the path.

Is there a callback function for when an iteration of the watch cycle completes?
or can I combine `bundle.watch` with `gulp.pipe`, so as to deploy to multiple destinations?

Thanks!

[2018-01-10 02:34] chmontgomery commented on #104
Actually someone made a PR for this but the tests aren't currently passing: https://github.com/dowjones/gulp-bundle-assets/pull/72

If you want to take a stab at fixing up the PR, I'll get it merged for you!

[2018-01-10 10:39] VaishaliRavindran opened #105 "common options for all bundles"
Hi,
I am creating some 10 bundles, and I need to remove sourcemaps for all bundles. Currently, I am setting options for all bundles separately. Is it possible to have a common options that is applicable to  all bundles in bundle.config.js ?

[2018-01-12 22:01] bwbb commented on #104
Ok, I have a PR (#106 ) with tests passing locally, but it looks like it's failing in travis because of a bug in the `hoek` dependency?
https://travis-ci.org/dowjones/gulp-bundle-assets/jobs/328295274

[2018-02-26 23:02] Morpheus18 opened #107 "https://www.instagram.com/andriy_moroz11/"

[2018-04-09 06:36] Indhiyan opened #108 "Is we have option, bundle(js,css) name remains same or custom name(static)"
I can see the bundle generating different names(js,css) while i run "gulp bundle". Is is possible to keep the generated bundle name to be same or custom name, not to be changed on every time in developement.

[2018-04-16 10:35] latvys opened #109 "Unable to exclude style files"
I am trying to config bundle options so I can omit from bundling files in Frontend/_assets/Content folder. I've tried inserting "!FrontEnd/_assets/Content/**/*.{css,less}" in both bundle configs and bundle options, but it seems to not work.

`var bundleOptions = {
    order: {
        styles: [
...
            "!FrontEnd/_assets/Content/**/*.{css,less}",
            "Frontend/**/*.{css,less}"

[2018-04-19 09:58] saswatds opened #110 "Ability to add .min extension to scripts and styles that have been uglified or minified"
It is a normal practise to save files containing minified content with `.min.js` or `.min.css`. So, if `uglify` is set to true or `minCSS` is set to true, a .min extension could be added.

If this is something you would like have as feature, I am more than glad to contribute.  Thanks

[2018-05-17 14:53] undermuz commented on #108
+1

[2018-05-17 15:44] SerdarSanri opened #111 "Deprecated node modules still in use"
[code]
There are so many deprecated node modules used in this package. Is there any planned update to cleanup?

[2018-06-20 13:56] shatodj opened #112 "ES6 support for bundle.config"
It would be great to have a bundle configuration export in ES6 style. it looks like it's required to use  CommonJS style only

This snipped in `bundle.config.js` doesn't work:
`export default {
    bundle: {},
    copy: [],
}`

Output:
`Error in plugin 'gulp-bundle-assets'
Message:
    Configuration file should be in the form "{ bundle: {}, copy: {} }"`

You have to do this:
`module.exports = {

[2018-07-10 07:52] acheshkov commented on #74
Hi @chmontgomery,

 _gbundle_ is not  a part of library, is it ? it means that i have to copy all dependencies to get it work.

[2018-07-10 12:34] acheshkov opened #113 "Custom transformation could affect order of files in bundle."
Hi,

I use custom conditional browserfy transformation. In resulting bundle I have a problem to keep order of files.  In example bellow I expect that jquery will go first but it does not.

[code]

[2018-08-20 10:48] tessiancrow opened #114 "Configuration file should be in the form "{ bundle: {}, copy: {} }""
How is it possible? 😆
I copied the sample-config file from the documentation and made my adjustments. Now it looks like:
Every time my console says: Configuration file should be in the form "{ bundle: {}, copy: {} }"

[code]

npm v6.4.0
node v10.6.0
gulp v4.0.0
gulp-bundle-assetes v2.29.0

[2018-09-22 19:11] miraan commented on #108
+1

[2018-11-27 12:52] longzheng commented on #114
I also ran into this after upgrading to gulp, it's a compatibility issue with gulp v4.

Unfortunately it looks as if this package has no intentions of supporting gulp v4 https://github.com/dowjones/gulp-bundle-assets/issues/103

[2018-12-06 00:03] yucheng0302 commented on #114
I'm having the same issue.

@chmontgomery Do you know any package can replace gulp-bundle-assets in gulp 4?

[2018-12-06 04:35] chmontgomery commented on #114
Sorry, as mentioned in #103, this package does not work with gulp 4 and I have no intentions of adding support.
In theory you could fork this repo, add a dependency on gulp 3 and shrinkwrap, then pull it into your project. That way gulp-bundle-assets would still be using gulp 3 under the covers. If anyone tries it, I'd be curious if it works.

[2019-01-14 07:53] Silic0nS0ldier commented on #114
@yucheng0302 I forked this repo a while back to address a specific issue in a project that uses this (fix broke sourcemaps, so it couldn't get merged back in).

Its since evolved quite a bit to better address the projects requirements and has gutted a substantial amount of the built in features instead opting for a more customization oriented approach.

Depending on what you need, it may suit your

[2019-05-26 15:00] #110 closed, assigned to nobody

[2020-05-07 15:34] edu-nixon commented on #91
[code]

We use functions to build different paths based on custom logic, works perfectly with environment variables or any other stuff.

[2021-08-17 23:05] pelletiermaxime commented on #13
It seems this was fixed years ago in glob-stream https://github.com/gulpjs/glob-stream/pull/41, but I still don't get errors when I put a path to a non existant file in my bundle config. Any idea why ?

[2021-11-05 06:47] #114 closed, assigned to nobody